@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#__next{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../pages/images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.search-location{
    flex: 1;
}

.search-type{
    flex:4;
}

.bg1    {
    background-image: url(../pages/images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
  background-image: url(../public/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dialect-list-card{
  width: 380px;
  height: 200px;
}

.dialect-list-card:last-child{
  justify-self:flex-start;
}

@media only screen and (max-width: 1060px) {
  .dialect-list-card {
    width: 320px;
    height: 260px;
  }
}

@media only screen and (max-width: 800px) {
  .dialect-list-card {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .dialect-list-card {
    width: 100%;
    height: 240px;
  }
}